<div class="container">
    <div class="card">
        <div class="text-container">
            <h1 class="first-text"><strong>Stay updated!</strong></h1>
            <p class="introduction">Join 60,000+ product managers receiving monthly updates on: </p>
            <p class="benefits">Product discovery and building what matters</p>
            <p class="benefits">Measuring to ensure updates are a sucess</p>
            <p class="benefits">And much more!</p>
            <label>Email address</label>
            <input placeholder="email@company.com">
            <button class="botao">Subscribe to monthly newsletter</button>
        </div>
        <img class="imagem" src="../../../assets/illustration-sign-up-desktop.svg">
    </div>
</div>