.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    height: 600px;
    width: 850px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 5px;
}

.first-text{
    font-size:45px;
    text-align: left;
    font-weight: bold;
}

.botao{
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
.imagem{
    max-width: 45%; /* Ajuste este valor conforme necessário */
    height: auto;
}
